header{
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    padding: 8px 15px;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #0ff;
    transform: scale(1.1);
}


body{
  background: #020024;
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: white;
  text-align: center;
  text-size-adjust: initial;
}




img{
    display: block;
    margin: 0 auto;
    
}


.imagen1{
    width: 500px;
    border: solid black 5px;
}

.imagen2{
    width: 500px ;
    border: solid white 5px;
}
    

.imagen4 , .imagen5{
    width: 500px;
    border: solid #020024;
}
